################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots
/.vs/TestCopilotGame/CopilotIndices/18.3.277.3498
/.vs/TestCopilotGame/FileContentIndex
